/* GLOBAL */

:root {
  --color-dark: #1f2124;
  --color-dark-clean: #1a1b1d;
  --color-green: #49aa26;
  --light-green: #60b070;
  --red-expense: #e92929;
  --white: #fff;
  --background: #151616;
  --color-blue: #315dff;
  transition: 0.5s all ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 93.75%; /* 15px */
  color: var(--white);
}
body {
  background: var(--background);
  transition: 1s all ease;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  
}
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(41, 41, 41);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid #315eff7c;  /* creates padding around scroll thumb */
}

/* KEYFRAMES */

@keyframes animation {
  from {
    box-shadow: inset 1px 1px 5px var(--light-green),
      0px -1px 5px var(--light-green);
  }
  to {
    box-shadow: inset 2px 1px 20px var(--light-green),
      0px -1px 40px var(--light-green);
  }
}

@keyframes progress-animation-html {
  0% { width: 0%;}
  100% { width: 100%;}
}
@keyframes progress-animation-css {
  0% { width: 0%;}
  100% { width: 90%;}
}
@keyframes progress-animation-js {
  0% { width: 0%;}
  100% { width: 45%;}
}
@keyframes progress-animation-bootstrap {
  0% { width: 0%;}
  100% { width: 75%;}
}
@keyframes progress-animation-vue {
  0% { width: 0%;}
  100% { width: 10%;}
}
/* HEADER */
.header-container {
  display: flex;
  height: 8rem;
  z-index: 1;
  width: 100%;
  background: var(--color-dark);
}
.header-container nav {
  width: 100%;
  
}
.container {
  width: min(90vw, 800px);
  margin: auto;
}



.ul-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  height: 8rem;
  background: var(--color-dark);
  z-index: 2;
  position: fixed;
  box-shadow:
  0 3.2px 4.1px rgba(0, 0, 0, 0.059),
  0 8px 10.3px rgba(0, 0, 0, 0.084),
  0 16.3px 20.9px rgba(0, 0, 0, 0.106),
  0 33.6px 43.1px rgba(0, 0, 0, 0.131),
  0 92px 118px rgba(0, 0, 0, 0.19)
;

}

.ul-container li {
  list-style: none;
  align-items: center;
  font-size: 100%;
}

.ul-container li a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  position: relative;
  
}

.ul-container li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--light-green);
  transform: scale(0, 1);
  left: 0;
  bottom: 0;
  transform-origin: 0% 100%;
  transition: 0.5s all cubic-bezier(0.76, 0.08, 0.26, 0.82);
}
.ul-container li a:hover::after {
  transform: scale(1, 1);
}
.ul-container li a:hover {
  color: var(--light-green);
  transition: 0.5s linear;
}
.img-container {
  border: 5px solid var(--light-green);
  display: grid;
  border-radius: 50%;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  animation-name: animation;
  animation-duration: 10s;
  animation: 2.2s animation linear infinite alternate;
  width:70%;
  
}
.img-container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
}

#wrapper {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  
}
#wrapper h1 {
  font-size: 2rem;
  padding: 1.2rem 0;
  color: var(--color-blue);
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
#wrapper h2 {
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
#wrapper p {
  font-size: 1.2rem;
  width: 90%;
  font-weight: 100;
  padding-bottom: 4rem;
  margin: auto;
}
#wrapper p a {
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  position: relative;
  color: var(--color-blue);
}
#wrapper p a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--light-green);
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: 0.5s all cubic-bezier(0.76, 0.08, 0.26, 0.82);
}
#wrapper p a:hover {
  color: var(--light-green);
  transition: 0.5s linear;
}
#wrapper p a:hover::after {
  transform: scale(1, 1);
}
.hardskills-container h3 {
  color: var(--color-blue);
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.hardskills-container ul li{
  list-style: none;
  display: grid;
  grid-template-columns: .1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 2.5rem;
  margin-bottom: 2rem;
}

.progress{
  background: #eaeaea40;
  height: 30px;
  border-radius: 14px;
  border: 2px solid var(--light-green);
  width: 100%;
  padding: 2px;
  display: grid;
  position: relative;
  overflow:hidden;
  margin: auto;
}

.progress.html::before {
  position: absolute;
  content: '100%';
  height: 100%;
  left: 0;
  width: 100%;
  background: var(--color-blue);
  border-radius: 14px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  animation: progress-animation-html 4s;
}
.progress.css::before {
  position: absolute;
  content: '90%';
  height: 100%;
  left: 0;
  width: 90%;
  background: var(--color-blue);
  border-radius: 14px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  animation: progress-animation-css 4s;
}
.progress.js::before {
  position: absolute;
  content: '45%';
  height: 100%;
  left: 0;
  width: 45%;
  background: var(--color-blue);
  border-radius: 14px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  animation: progress-animation-js 4s;
}

.progress.bootstrap::before {
  position: absolute;
  content: '75%';
  height: 100%;
  left: 0;
  width: 75%;
  background: var(--color-blue);
  border-radius: 14px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  animation: progress-animation-bootstrap 4s;
}
.progress.vue::before {
  position: absolute;
  content: '10%';
  height: 100%;
  left: 0;
  width: 10%;
  background: var(--color-blue);
  border-radius: 14px;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  animation: progress-animation-vue 4s;
}
.align{
  display: grid;
  width: 100%;
  justify-content: center;
  
}

.links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2.5rem 0;
  width: 100%;
  
}
.links a {
  text-decoration: none;
  color: var(--white);
  /* background: var(--light-green); */
  background: rgb(144,255,104);
  background: linear-gradient(140deg, rgba(144,255,104, .7) 17%, rgba(155,255,153, .7) 49%, rgba(69,231,101, .7) 82%); 
  padding: 1rem;
  border-radius: .3rem;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
  font-weight: 400;
  letter-spacing: 2px;
}

.links a:hover, .links a:focus, .links a:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

footer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2.5rem 0;
  width: 100%;
  background: var(--color-dark);
}

footer p {
  font-weight: 300;
  text-align: center;
}
footer p a{
  font-weight: 500;
  text-decoration: none;
  color: var(--color-blue);
}

.link-footer p a:hover {
  color: var(--light-green);
  transition: 0.5s linear;
}

/* media queries */

@media screen and (max-width:768px) {
  .hardskills-container ul li{
    grid-template-columns: 1fr;
    margin: auto;
    width: 90%;
    
  }
  .align {
    margin-top: 1rem;
  }
  .progress.vue {
    margin-bottom: 3rem;
  }
  .links {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width:768px){
  .logo {
    grid-area: logo;
  }
  .content {
    grid-area: content;
  }
  .content2 {
    grid-area: paragraph;
  }
  #wrapper{
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 
      "logo content content"
      "paragraph paragraph paragraph"
    ;
    width: 100%;
    text-align: justify;
    
  }
  .img-container{
    width: 80%;
    margin-bottom: 0;

  }
  #wrapper p {
    padding: 2rem 0;
    width: 100%;
    
  }
  .wrapper-container-1 {
    padding: 1rem 1.8rem;
    border-radius: 1rem 1rem 0 0;
    margin-top: 4.1rem;
    background: rgb(48, 48, 48);
    
  }
  .wrapper-container-2 {
    background: rgb(48, 48, 48);
    padding: 1rem 1.8rem;
    border-radius: 1rem 0 1rem 1rem;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width:480px) {
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}